{% extends 'base.html' %}
{% load static %}

{% block main %}

<img src="{% static 'blog/image/fanny.JPG' %}" width="300" height="300">
<br>
<p>Hi there, I'm Fanny, a software developer and a music&amp; movie lover. I'm so exciting to develop this blog system.
As there are so many beautiful things in life about LOVE, FAITH, DREAM and HOPE,
so I want to record and share all of them in my life with the world in this way.
</p>
<br>
<p>
<h4><b>1Corinthians 13:4-7</b></h4>
Love is patient, love is kind. It does not envy, it does not boast, it is not proud.
It does not dishonor others, it is not self-seeking, it is not easily angered, it keeps
no record of wrongs. Love does not delight in evil but rejoices with the truth. It always
protects, always trusts, always hopes, always perseveres.
</p>


{% endblock main%}
